<div class="container-fluid">

  <div>

    <div class="row">
      <div class="col-lg-14">
        <img  class="rounded-circle" src="/assets/img/biopic.jpg" width="300"  height="300"/>

        <p>
          Young developer very hungry for knowledges and new challenges David Axel Nikyema
          Studied computer science
          since 2012 in Tangier, Morocco were he got 2 degrees which are <b>Bac +3 en informatique</b> and
          <b>Licence Professionnelle en Administration et Sécurité des Réseaux </b> After that he decided to go
          to Quebec, Canada in order to pursue a Master's Degree in Computer Science where he specialized
          in <b>Software Architecture</b> and <b>Quality Assurance</b>
        </p>
      </div>

    </div>

  </div>

</div>
