
  <h2 class="section-title">About</h2>

  <div class="about__container bd-grid">
    <div class="about__img">
      <img src="assets/img/biopic.jpg" alt="" height="640" width="841">
    </div>


  <div>
    <h2 class="about__subtitle"> I am David</h2>
    <p class="about__text">
    Young developer very hungry for knowledges and new challenges David Axel Nikyema
    Studied computer science
    since 2012 in Tangier, Morocco were he got 2 degrees which are <b>Bac +3 en informatique</b> and
    <b>Licence Professionnelle en Administration et Sécurité des Réseaux </b> After that he decided to go
    to Quebec, Canada in order to pursue a Master's Degree in Computer Science where he specialized
    in <b>Software Architecture</b> and <b>Quality Assurance</b></p>
  </div>
  </div>

