
<div class="container-fluid">
  <div class="row">

  </div>

  <div class="row">
    <div class="col-lg-12">
      <nav class="navbar  navbar-expand-xl sticky-top navbar-dark bg-dark" >
        <a class="navbar-brand" routerLink="">David</a>
        <button class="navbar-toggler" type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class ="nav-item active">
              <a class="nav-link" tabindex="-1">
                <span class="sr-only">(current)</span>
              </a>
            </li>



            <li class="nav-item">
              <a class="nav-link" routerLink="">Home</a>
            </li>


            <li class="nav-item">
              <a class="nav-link" routerLink="about"> About Me</a>
            </li>


            <li class="nav-item">
              <a class="nav-link" routerLink="skills">Skills</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="contact">Contact Me</a>
            </li>


          </ul>
        </div>
      </nav>
    </div>
  </div>

</div>
<router-outlet></router-outlet>

<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-12 col-md">
      <small class="d-block mb-3 text muted"> &copy; David Axel Nikyema 2021</small>
    </div>
  </div>

  <div class="col-6 col-md">
    <h5>Contact me </h5>
    <ul>
      <li><a href="https://twitter.com/PureDavid" class="text-muted">Twitter</a> </li>
      <li><a href="https://www.linkedin.com/in/david-nikyema-842684a3" class="text-muted">Linked In</a> </li>
      <li><a href="https://www.instagram.com/rinnegan_no_tobi/" class="text-muted"> Instagram </a></li>
    </ul>
  </div>
</footer>
