<main class="l-main">

<section class="home bd-grid" id="home">
  <div class="home__data">
    <h1 class="home__title">Hi,<br>I'am <span class="home__title-color">David</span><br>Full Stack developper</h1>

    <a href="#" class="button">Contact</a>
  </div>

  <div class="home__social">
    <a href="" class="home__social-icon"><i class='bx bxl-linkedin'></i></a>
    <a href="" class="home__social-icon"><i class='bx bxl-github' ></i></a>
  </div>


  <div class="home__img">
    <img src="assets/img/biopic.jpg" alt="">
  </div>
</section>

  <section class="about section" id="about">
    <app-about></app-about>
  </section>

  <section class="skills section" id="skills">
    <app-skills></app-skills>
  </section>

</main>
