<main class="l-main">

<section class="home bd-grid" id="home">
  <div class="home__data">
    <h1 class="home__title" ngsReveal>Hi,<br>I'am <span class="home__title-color">David</span><br>Full Stack developper</h1>

    <a href="#" class="button">Contact</a>
  </div>

  <div class="home__social" ngsReveal>
    <a href="" class="home__social-icon"><i class='bx bxl-linkedin'></i></a>
    <a href="" class="home__social-icon"><i class='bx bxl-github' ></i></a>
  </div>


  <div class="home__img" ngsReveal>
    <img src="assets/img/biopic.jpg" alt="">
  </div>
</section>

  <section class="about section" id="about" ngsReveal>
    <app-about></app-about>
  </section>

  <section class="skills section" id="skills" ngsReveal="">
    <app-skills></app-skills>
  </section>

  <section class="contact section" id="contact" ngsReveal="">
    <app-contact></app-contact>
  </section>

</main>

